.campoBandeira {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fff;
    margin: 10px auto;
    max-width: 300px;
}

.campoBandeira h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.campoBandeira img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.campoBandeira label {
    display: block;
    font-size: 16px;
    margin-top: 10px;
}

/* Estilo para telas menores (por exemplo, tablets) */
@media (max-width: 768px) {
    .campoBandeira {
        max-width: 100%;
        padding: 10px;
    }

    .campoBandeira h1 {
        font-size: 20px;
    }

    .campoBandeira label {
        font-size: 14px;
    }
}

/* Estilo para telas ainda menores (por exemplo, smartphones) */
@media (max-width: 480px) {
    .campoBandeira {
        padding: 5px;
    }

    .campoBandeira h1 {
        font-size: 18px;
    }

    .campoBandeira label {
        font-size: 12px;
    }
}